
__pycache__/
*.py[cod]
pyqitnn/_C*.pyd
pyqitnn/_C*.so
build/
dist/
wheelhouse/
*.egg-info/
*.obj
*.o
*.lib
*.exp
*.pdb
*.ilk
.tmp/
.pytest_cache/
.coverage
htmlcov/
_test_ckpt_tmp.pt
logs/
runs/
checkpoints/
.DS_Store
Thumbs.db
torch_bridge/pyqitnn.egg-info/
_C.cp313-win_amd64.pyd
